.login-page-section{
 
  display: flex;
  flex-direction: row;

}

.login-page-section > div{
  
  display: flex;
  flex-direction: column;
}


.login-detail-section,
.login-cover {
  flex: 1;
}

.login-cover  img{
  width: 80%;
  margin: 20px;
}

.login-detail-section{
  align-items: center;
  justify-content: center;
  margin: 20px;

}

.login-cover{
  align-items: end;
}

.login-form-section{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.submit-form{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
  width: 50%;
}

.button-css{
  width: 100%;
  padding : 16px;
  border-radius: 8px;
  background-color: #162D3A;
  border-width: 0px;
  color : #fff;
  margin-top: 8px;
}

.button-css:hover{
  cursor: pointer;
  background-color: #306584;
}

.forgot-password:hover{
  cursor: pointer;
  text-decoration: underline;
}

.form-inputs >  input{
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cfe8f7;
  background-color: #f0f9ff;
  box-sizing: border-box;
}

.social-logins{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leading-icon-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: #F3F9FA;
  border-color: #F3F9FA;
  border-width: 0px;
  border-radius: 12px;
  width: 100%;
  justify-content: center;
}

.leading-icon-button:hover{
  cursor: pointer;
  background-color: #cbeff5;
}